 .body {

 	nav {
 		background-color: #1976D2;
 	}

    display: flex;
    min-height: 100vh;
    flex-direction: column;

	main {
		flex: 1 0 auto;

		#chatwindow {
			height: 250px;
			overflow-y:auto;
		}

		.img {
			display:block;
    		margin:auto;
    		height: 35vh;
    		width: 35vh;
		}

		.card-action {
			min-height: 25vh;
		}

	}

	#footer {
		background-color: #2196F3;
	}

}





