 .body {

 	nav {
 		background-color: #1976D2;
 	}

    display: flex;
    min-height: 100vh;
    flex-direction: column;

	main {
		flex: 1 0 auto;

		.chatwindow {
			min-height: 200px;
		}


	}

	#footer {
		background-color: #2196F3;
	}

}



