 // COLOR SCHEME
$headerbackground: #E8E8EE;
$darkaccent: #3F51B5;
$windowbackground: #FFFAFA;
$buttoninput: #F44336;
$buttonhover: #D32F2F; 
$speechbubblebackground: #F2F2F2;
$userbox:  #C5CAE9;
$userbox-hover: #B2BAEB;

// SCSS FOR THE ENTIRE BODY
 .body {

	display: flex;
	min-height: 100vh;
	flex-direction: column;

	// SCSS FOR THE NAVBAR SECTION
 	nav {
 		background-color: $headerbackground;
 		margin-bottom: 80px;

 		a, p {
 			color: black;
 		}

 		a {
 			margin-left: 10px;
 		}

 		p::first-letter, a::first-letter {  
 			color: $darkaccent;
 		}

 		#logo {
 			display: inline-block;
 			font-size: 2.1rem;
 			margin-left: 20px;
 		}

 	}

 	.chatrow {
 		margin-top: -50px;
 	}

 	// SCSS FOR THE MAIN SECTION
	main {
		flex: 1 0 auto;

		#chatwindow {
			height: 60vh;
			overflow-y:auto;
			background-color: $windowbackground;
			padding-top: 10px;
			padding-bottom: 65px;
		}


		.userrow {
			height: 80vh;
			overflow-y:auto;
		}

		@media only screen and (max-width: 601px) {
			.userrow {
				height: 16vh;
				overflow-y:auto;
			}
		}

		.mainrow {
			margin-bottom: 0px; 
		}
		#chatheader {
			background-color: $darkaccent; 

			h5 {
				color: white;
			}
		}

		hr {
			margin: 0;
		}

		.img {
			display:block;
    		margin:auto;
    		height: 35vh;
    		width: 35vh;
		}

		.card-action {
			min-height: 10vh;
		}

		.fail .card, .epicfail .card{
			background-color: $windowbackground;
		}

		.register .s12, .login .s12 {
			margin-bottom: 40px;
		}

		.userbox {
			background-color: $userbox;
		    color: white;
		    text-align: center;
		    border-radius: 3px;
		    font-size: 1.5em;
		    padding: 0.2vw 0.8vw;
		    margin-top: 1vh;
		    margin-bottom: 3vh;
		}

		.userbox:hover {
			cursor: pointer; 
			cursor: hand;
			background-color: $userbox-hover;
		}

		.button {
			background-color: $buttoninput; 
		    border: none;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 1.5em;
		    border-radius: 3px;
		}

		#buddies {
		    color: black;
		    text-align: center;
		    border-radius: 3px;
		    font-size: 1.5em;
		    padding: 0.2vw 0.8vw;
		    margin-top: 1vh;
		    margin-bottom: 3vh;

		    p::first-letter {
		    	color: $darkaccent;
		    }
		}

		#disabledbutton {
			background-color: $headerbackground;
		}

		.button:hover {
			background-color: $buttonhover;
		}

		.register .center-align, .login .center-align{
			margin-top: 30px;
		}

		.bubble{
			background-color: $speechbubblebackground;
			border-radius: 5px;
			box-shadow: 0 0 6px #B2B2B2;
			display: inline-block;
			padding: 10px 18px;
			position: relative;
			vertical-align: top;
			clear: both
		}

		.bubble::before {
			background-color: $speechbubblebackground;
			content: "\00a0";
			display: block;
			height: 16px;
			position: absolute;
			top: 11px;
			transform:         rotate( 29deg ) skew( -35deg );
			-moz-transform:    rotate( 29deg ) skew( -35deg );
			-ms-transform:     rotate( 29deg ) skew( -35deg );
			-o-transform:      rotate( 29deg ) skew( -35deg );
			-webkit-transform: rotate( 29deg ) skew( -35deg );
			width:  20px;
		}

		.you {
			float: left;   
			margin: 5px 45px 5px 20px;         
		}

		.you::before {
			box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
			left: -9px;           
		}

		.me {
			float: right;    
			margin: 5px 20px 5px 45px;         
		}
		.me::before {
			box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
			right: -9px;    
		}

		input:focus {
		    border-bottom: 1px solid $darkaccent !important;
    		box-shadow: 0 1px 0 0 $darkaccent !important;
    	}

    	#timecolor {
    		color: $darkaccent;
    		border-bottom: 1px solid $darkaccent;
    	}

    	.text {
    		font-size: 0.85em;
    	}

	}

	// SCSS FOR THE FOOTER SECTION
	#footer {
		background-color: $headerbackground;

		a, p {
 			color: black;
 		}

 		p::first-letter, a::first-letter, li::first-letter {  
 			color: $darkaccent;
 		}

	}

}





